In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('predictions.csv')

In [3]:
df.head()

,video_id,frame_idx,timestamp,gt_label,pred_label,pred_score,avg_ear,mar,gamma_used
0,live,0,1761384467,awake,awake,0.238960,0.238960,0.019593,0
1,live,1,1761384467,awake,awake,0.285675,0.285675,0.018868,0
2,live,2,1761384468,awake,awake,0.299466,0.299466,0.019996,0
3,live,3,1761384468,awake,awake,0.305160,0.305160,0.000000,0
4,live,4,1761384468,awake,awake,0.299087,0.299087,0.000000,0